In [1]:
import pandas as pd

df = pd.read_csv("tmdb-movies.csv")

In [2]:
df.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09

In [3]:
cols_to_delete = df.columns

First, let's remove the columns we don't need.

In [4]:
cols_to_delete = cols_to_delete.delete(5)

In [5]:
list(cols_to_delete).index("release_year")

17

In [6]:
cols_to_delete = cols_to_delete.delete(17)

In [7]:
list(cols_to_delete).index("cast")

5

In [8]:
cols_to_delete = cols_to_delete.delete(5)

In [9]:
list(cols_to_delete).index("director")

6

In [10]:
cols_to_delete = cols_to_delete.delete(6)

In [11]:
list(cols_to_delete).index("keywords")

7

In [12]:
cols_to_delete = cols_to_delete.delete(7)

In [13]:
list(cols_to_delete).index("tagline")

6

In [14]:
cols_to_delete = cols_to_delete.delete(6)

In [15]:
cols_to_delete

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'homepage',
       'overview', 'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'budget_adj', 'revenue_adj'],
      dtype='object')

In [16]:
df.drop(cols_to_delete,axis=1,inplace=True)

In [17]:
df.head(1)

,original_title,cast,director,tagline,keywords,release_year
0,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,2015

In [18]:
df.dropna(inplace=True)

In [19]:
df = df[df.original_title.str.contains('[A-Za-z]')]

In [20]:
df = df[~df.original_title.str.contains(',')]
df = df[~df.cast.str.contains(',')]
df = df[~df.director.str.contains(',')]
df = df[~df.tagline.str.contains(',')]
df = df[~df.keywords.str.contains(',')]

In [21]:
df.shape

(6055, 6)

In [22]:
df.to_csv("movies-list.csv",index=False,header=False)

Let's only keep movies with titles less than or equal to 20 and tagline length less than or equal to 30

In [23]:
df = df[df.original_title.str.len() <= 20]
df = df[df.tagline.str.len() <= 30]

In [24]:
df.to_csv("movies-list-short.csv",index=False,header=False)

In [25]:
df.shape

(1767, 6)